<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <input name="Expression" type="text" class="form-control mt-5" placeholder="Insert Math Expression. Example:     100+10-5*3+20/4-sqrt(81)+100000.1928376450" [(ngModel)]="expression">
            <input name="Presicion" type="text" class="form-control mt-1" placeholder="Insert desired decimal precision (optional). Example: 2" [(ngModel)]="presicion">
            <button (click)="showResultGet()" class="btn btn-primary btn-lg btn-block mt-2">Solve! (GET method)</button>
            
            <div class="card mt-3">
                <div class="card-body">
                    <p class="card-text"><b>GET Result:  </b>{{result}}</p>
                </div>
            </div>    

        </div>
    </div>

    <div class="row">
        <div class="col-lg-10">
            <input name="myJson" type="text" class="form-control mt-5" placeholder='Insert JSON. Example:     {   "expression":"3*10+sqrt(144)+1000.012987",   "presicion":3  }' [(ngModel)]="myJson">
            <button (click)="showResultPost()" class="btn btn-primary btn-lg btn-block mt-2">Solve! (POST method)</button>
            
            <div class="card mt-3">
                <div class="card-body">
                    <p class="card-text"><b>POST Result:  </b>{{result2}}</p>
                </div>
            </div>
        </div>
    </div>


</div>
